footer{
    display: block;
    width: 100%;
    height: 170px;
    top: 0px;
    left: 0px;
    color: #ffffff;
    background-color: #212121;
 }
 
 .footer {
    padding: 20px 6%;
 }

 .footer_heading {
    padding: 10px 0px 20px 0px;
 }

 .copyright {
    text-align: center;
    font-size: x-small;
    color: #808080;
}