header {
   position: fixed;
   display: block;
   width: 100%;
   height: 50px;
   top: 0px;
   left: 0px;
   background-color: rgba(50,50,50,0.5);
   z-index: 100;
}

.header-title {
   position: absolute;
   top: 13px;
   left: 4%;
   color: #ffffff;
   font-size:medium
}

.smartphone {
   position: absolute;
   text-align: right;
   top: 5px;
   right: 1%;
   color: #ffffff;
   font-size: small;
   a {
      color: #ffffff;
   }
}

.home {
   position: fixed;
   height: 25px;
   top: 12px;
   right: 0px;
   padding-right: 4%;
}

body {
   height: 1000px;
}